---
import { ImageCard } from "@components/lit-components/image-card";
import Card from "@components/UI/Card";
import LifeCycle from "@components/index/LifeCycle";
import InquiryFooter from "@components/index/InquiryFooter";

import styles from "../../styles/Home.module.css";

import logo from "/images/original.jpg";
import mame from "/images/mame.jpg";
import coffee from "/images/coffee.jpg";
import art from "/images/art.jpg";
import Layout from "../layouts/Layout.astro";

const coeText =
  "カップ・オブ・エクセレンス（英語：Cup of Excellence、略称：CoE）はコーヒーの品質審査制度。カップ・オブ・エクセレンスはコーヒー界のアカデミー賞（オスカー）とも例えられる。コーヒーの審査は少なくとも毎回5回行われ、最終的な勝者は「カップ・オブ・エクセレンス」を冠される。";
---

<Layout>
  <div class={styles.feed}>
    <img src={logo} width="100%" height="100%" />
    <div class={styles["main"]}>
      <h1>沖縄県産コーヒー農園、Pace</h1>
      <h3>コーヒーを通してすべての人に、へいあんを。</h3>
    </div>
    <ImageCard client:visible data-src={mame}>
      沖縄県のやんばるでコーヒーの栽培を行っています。
    </ImageCard>
    <ImageCard client:visible data-src={coffee}
      >コーヒー豆の加工・販売を行っています。</ImageCard
    >
    <ImageCard client:visible data-src={art}
      >障がい者の働く場を提供します。</ImageCard
    >
    <Card>
      <h1>我々の挑戦</h1>
      <h2>
        沖縄産コーヒーで
        <br />
        スペシャリティコーヒー
        <br />
        を目指します
      </h2>
      <span>{coeText}</span>
    </Card>
    <LifeCycle />
    <InquiryFooter />
  </div>
</Layout>

<script>
  const observer = new IntersectionObserver(
    entries =>
      entries.forEach(entry => {
        if (!entry.isIntersecting) return;
        const imageCard = entry.target;
        if (!(imageCard instanceof HTMLElement))
          throw TypeError("Observer Entries must be HTML Elements");
        const src = imageCard.dataset.src;
        if (!src) throw TypeError("No data-src was provided");
        imageCard.setAttribute("src", src);
      }),
    {
      root: null,
      rootMargin: "0px",
      threshold: 1.0,
    }
  );
  const imageCards = document.querySelectorAll("image-card");
  imageCards.forEach(imageCard => observer.observe(imageCard));
</script>
